




a:link:not(#switch a:link){
    color:rgba(255, 255, 255, 0.966);
}


/*#switch a:link{
    color:rgb(0, 0, 0);
}*/

a:visited{
    color:rgba(140, 169, 250, 0.63);
}

#main{
    width: 80%;
    position: relative;
    top: -80px;
    left: -10px;
}

#textfield{
    min-height: 10em;
    width: 100%;
}

form{
    width: 100%;
    height: 100%;
}

header{
    
    height: 180px;
}
header h1{
    min-height: 114px;
    width: 100%;
    color: rgba(255, 255, 255, 0.966);
    background-color: #0063a7;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 250%;
    position: absolute;
    top: -27px;
    left: 180px;
    text-align: left;
    padding-top: 66px;
    
}

header img{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

html, body, nav>div{
    min-height: 100vh;
    min-height: 100vh !important;
    
}

nav{
    position: relative;
    top: -20px;
    left: -20px;
    float: left;
    width: 180px;
    overflow: hidden;
    background-color: #0063a7;
    
    
}

nav ul{
    list-style-type: none;
    
    
}

nav>div{
    position:relative;
    left: -10px;
    top: 20px;
    /*width: 170px;*/
    text-align: left;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color:rgba(255, 255, 255, 0.966);

    
}

section{
    color: black;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    float: left;
    top: 200px;
    left: 180px;
    text-align: left;
    padding-top: 66px;
    /*overflow: hidden;*/
    
    
}





 /*#upload{
    float: right;
    overflow: hidden;
}*/





#confirm>label{
    color:darkgrey;
    position: relative;
   
}



[data-tooltip] {
    position: relative;
}
 
[data-tooltip]::after {
  content: attr(data-tooltip);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
 
  display: block;  
  position: absolute; 
  bottom: 1em;
  left: -6em;
  width: 15em;
  padding: 0.5em;
  z-index: 100;
  color: #000; 
  background-color: #ebffe6;
  border: solid 1px #6ac304;
  border-radius: 0.5em;  
}
 
[data-tooltip]:hover::after {
  opacity: 1;
}